/Manifest.toml
.vscode/settings.json
**/*.DS_Store 
docs/build/.DS_Store
docs/build/index.html
docs/build/search_index.js
docs/build/search.html
docs/build/api/cmesenssolve.html
docs/build/api/cmesolve.html
docs/build/api/models.html
docs/build/api/propensities.html
docs/build/api/propensity_gradients.html
docs/build/api/vector.html
docs/build/api/vectors.html
docs/build/api/models/index.html
docs/build/api/propensities/index.html
docs/build/assets/documenter.js
docs/build/assets/search.js
docs/build/assets/themeswap.js
docs/build/assets/warner.js
docs/build/assets/themes/documenter-dark.css
docs/build/assets/themes/documenter-light.css
docs/build/search/index.html
docs/src/.DS_Store

docs/Manifest.toml
